.container {
    text-align:center;
    background-color: gray;
    padding: 30px;
}

.blue {
    background-color: rgb(50, 118, 150);
    padding: 40px;
    margin: 30px;
    justify-content: center;
}

img {
    width: 200px; 
    height: 200px;
    padding: 40px;
}

.Pink {
    background-color: pink;
    padding: 60px;
    margin: 30px;
    justify-content: center;
}

.White {
    background-color: white;
    padding: 40px;
    margin: 30px;
    justify-content: center;
}